:host{
  height: 100vh;
  display: block;
  background-color: #f5d661;
  border: 1px solid #f5d661;
}
.custom-card{
  width: 350px;
  max-width: 100%;
}

.user-icon{
  font-size: 100px;
  color: #50A057;
}
